body {
	font-size: 30px;
	color: royalblue;
	background-color: black;
}
a {
	text-decoration: none;
	font-size: 30px;
	color: tomato;

}
h1 {
	font-size: 120px;
	color: gold;
}
img {
	max-width: 80%;
	height: auto;
	display: block;
}
div {
	width: 80%;
	margin: auto;
	background-color: silver;
}
p{
	color: lime;
	margin: 3px 0;
}